.background{
    background:#222233;
}

@font-face {
    font-family: 'AntipastoPro';
    src: url('../font/Antipasto_regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	    
    font-family: 'AntipastoPro', sans-serif;
}




.card{
	border-radius: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
     text-align: center;
    margin: 0 1rem;
    max-width: 90%;
}



.bi-heart, .bi-pen, .bi-trash {
    font-size: 1.25rem;
    user-select: none;
}

@media (max-width: 768px) {
    .row-cols-md-2 .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .row-cols-md-2 .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-4 .col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}



.card-img-top {
    border-radius: 18px; /* Adjust the border-radius as per your design */
    padding: 8px; /* Adjust padding as needed */
    height: 274px;
    width: 100%;
    object-fit: cover;
}

.card-img-top2 {
    border-radius: 18px; /* Adjust the border-radius as per your design */
    padding: 8px; /* Adjust padding as needed */
    height: 174px;
    width: 100%;
    object-fit: cover;
}

.card-img-large{
	border-radius: 12px; /* Adjust the border-radius as per your design */
    padding: 8px; /* Adjust padding as needed */
	
}

shadow-lg{
	    border-radius: 0.375rem;
}

.font{
    font-family: 'AntipastoPro', sans-serif;
    font-weight: normal;
    font-style: normal;
    src: url('font/AntipastoPro-Medium_trial.ttf') format('truetype');
    color: rgb(70, 70, 70);
}
.hr-style {
	border: 0;
	height: 2px;
	background: linear-gradient(to right, #000, #fff, #000);
	position: relative;
	border-radius: 10px;
	margin: 20px 0;
}


 
.btn-custom1 {
  padding: 0; /* Remove default padding */
  border: none; /* Remove default button border if not needed */
  font-size: 1.45rem;
}   

 
.btn-custom2 {
  padding: 0; /* Remove default padding */
  border: none; /* Remove default button border if not needed */
  font-size: 1.2rem;
}     





.bi-heart {
    transition: color 0.3s ease, trasnform 0.3s ease; 

}

.bi-heart:hover {
	color: red;
    transform: scale(1.5,1.5); 
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-28-no {
  appearance: none;
  background-color: #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.navbar-elements-blank{
	color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
  user-select: none;			
}

.blank{
	user-select: none;
}

box-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-elements{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}


.navbar-elements-NoUnderline{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}

.navbar-elements:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  border-radius: 10px;
  position: absolute;
  background: rgb(70, 70, 70);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-elements:hover:after { 
  width: 100%; 
  left: 0; 
}

.col-margin{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 200px;
    margin-left: 0px;
}


.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.card-hover {
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Small shadow */
    }

    .card-hover:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
    }


@keyframes slideLeft {
  from {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0; /* Initially hidden */
    }
    to {
        transform: translateX(0%);/* Move to initial position */
        opacity: 1; /* Fade in */
    }
}



@keyframes slideRight {
  from {
        transform: translateX(200%); /* Start off-screen to the left */
        opacity: 0; /* Initially hidden */
    }
    to {
        transform: translateX(0%);/* Move to initial position */
        opacity: 1; /* Fade in */
    }
}


 @keyframes fade-in {
 	0% {
 		opacity: 0;
 		transform: translateY(50px);
 		/* Optional: Slide in from bottom */
 	}

 	100% {
 		opacity: 1;
 		transform: translateY(0);
 	}
 }

 /* Apply the fade-in animation */
 .fade-in {
 	animation: fade-in 0.5s ease-out forwards;
 	/* Adjust duration and easing as needed */
 	opacity: 0;
 	/* Ensure initially hidden */
 }

	    
.slideInLeftScroll1 {
	 animation: slideLeft ease-out both;
	 animation-timeline: scroll();
	 animation-range: 5% 30%;
}

.slideInLeftScroll2 {
	 animation: slideLeft ease-out both;
	 animation-timeline: scroll();
	 animation-range: 40% 65%;
}


.slideInLeftScroll3 {
	 animation: slideLeft ease-out 2s  both;
	 animation-timeline: scroll();
	 animation-range: 70% 95%;
}

.profile-pic-container-card {
    height: 274px;
    width: 100%;
    object-fit: scale-down;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-container {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: background color for better visibility */
    margin: 0 auto; /* Center horizontally */
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alert{
	text-align: center;
}




.fixed-size-tabs  {
    width: 33%; /* Adjust as per your design needs */
    text-align: center; /* Center align the text within the button */
}


.fixed-size-tabs-admin  {
    width: 50%; /* Adjust as per your design needs */
    text-align: center; /* Center align the text within the button */
}


.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
}

.mainText2{
	font-size: 18px;
}

.mainText{
	font-size: 26px;
}

.profile-pic-container-cardV2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: background color for better visibility */
    margin: 0 auto; /* Center horizontally */
}

.profile-pic-cardV2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




