	<!DOCTYPE html>
	<html lang="it">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome!</title>
		<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
		<link rel="stylesheet" th:href="@{/css/cssBootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/stile.css}">
		<link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
		<script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script defer src="js/bootstrap.bundle.min.js"></script>
	
	
	</head>
	
	<body>
	
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="container-fluid d-flex justify-content-between align-items-center">
	
				<div class="d-flex " style="margin-right: 10px">
					<a href="#" class="nav-link me-1"><i class="bi bi-facebook"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-twitter"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-instagram"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-youtube"></i></a>
				</div>
	
				<a class="nav-brand navbar-elements" width="160" height="80" th:href="@{/recipes}">Ricette</a>
				<div class="d-flex align-items-center">
					<ul class="navbar-nav d-flex">
						<li class="nav-item">
							<a class="navbar-brand mr-0" th:href="@{/}" style="margin-right: 0px;">
							<img th:src="@{/images/logo.png}" width="160" height="80" alt="Logo">
							</a>
						</li>
					</ul>
				</div>
				<a class="nav-brand navbar-elements" th:href="@{/cooks}">Cuochi</a>
				<div sec:authorize="isAuthenticated()">
					<a class="nav-link navbar-elements" href="/logout">Logout</a>
				</div>
			</div>
		</nav>
		
		<div class="my-2"></div>
		
		<section class="h-100 gradient-form box-shadow">
		    <div class="container-lg py-4">
		        <div class="row justify-content-center align-items-center">
		            <div class="col-md-10 col-lg-8">
		                <div class="card rounded-3 shadow-lg">
		                    <div class="card-body p-md-4 mx-md-3">
		
		                        <div class="text-center mb-4 mainText">
									<div class="profile-pic-container">
									    <img th:src="${user.profilePic}" class="profile-pic" alt="Profile Picture">
									</div>
		                            <h2 th:text="${user.name} + ' ' + ${user.surname}">Name Surname</h2>
		                            <a th:href="@{admin/edit/{id}(id=${user.id})}" class="mr-2"><i class="bi bi-pen"></i></a>
		                        </div>
		                        
		                        <div class="tab-container my-4 mainText2">
		                            <ul class="nav nav-tabs nav-fill" id="userTab" role="tablist">
		                                <li class="nav-item fixed-size-tabs-admin " role="presentation">
		                                    <button class="nav-link active " id="personal-recipes-tab" data-bs-toggle="tab" data-bs-target="#personal-recipes" type="button" role="tab" aria-controls="personal-recipes" aria-selected="true">Controllo Utenti</button>
		                                </li>
		                                <li class="nav-item fixed-size-tabs-admin " role="presentation">
		                                    <button class="nav-link" id="favorite-recipes-tab" data-bs-toggle="tab" data-bs-target="#favorite-recipes" type="button" role="tab" aria-controls="favorite-recipes" aria-selected="false">Controllo Ricette</button>
		                                </li>
		       
		                            </ul>
		                           
		                        </div>
		
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>

		    <!-- Bootstrap JS and dependencies -->
		    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	
		                        
		                        
		                      
		
		                        
		
	</body>