	<!DOCTYPE html>
	<html lang="it">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome!</title>
		<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
		<link rel="stylesheet" th:href="@{/css/cssBootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/stile.css}">
		<link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
		<script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script defer src="js/bootstrap.bundle.min.js"></script>
	
	
	</head>
	
	<body class="blank">
	
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="container-fluid d-flex justify-content-between align-items-center blank">
	
				<div class="d-flex " style="margin-right: 10px">
					<a href="#" class="nav-link me-1"><i class="bi bi-facebook"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-twitter"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-instagram"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-youtube"></i></a>
				</div>
	
				<a class="nav-brand navbar-elements" width="160" height="80" th:href="@{/recipes}">Ricette</a>
				<div class="d-flex align-items-center">
					<ul class="navbar-nav d-flex">
						<li class="nav-item">
							<a class="navbar-brand mr-0" th:href="@{/}" style="margin-right: 0px;">
							<img th:src="@{/images/logo.png}" width="160" height="80" alt="Logo">
							</a>
						</li>
					</ul>
				</div>
				<a class="nav-brand navbar-elements" th:href="@{/cooks}">Cuochi</a>
				<div sec:authorize="isAuthenticated()">
					<a class="nav-link navbar-elements" href="/logout">Logout</a>
				</div>
			</div>
		</nav>
		
		<div class="my-2"></div>
		
		<section class="h-100 gradient-form">
		    <div class="container-lg py-4">
		        <div class="row justify-content-center align-items-center">
		            <div class="col-md-10 col-lg-8">
		                <div class="card rounded-3 shadow-lg">
		                    <div class="card-body p-md-4 mx-md-3">
		
		                        <div class="text-center mb-4 mainText">
									<div class="profile-pic-container">
									    <img th:src="${user.profilePic}" class="profile-pic" alt="Profile Picture">
									</div>
								<div class="pt-3">
		                            <h2 th:text="${user.name} + ' ' + ${user.surname}">Name Surname</h2>
								  </div>
								  <div th:if="${param.error != null}" class="alert my-0 py-1 alert-danger text-center" id="error-message"
										style="display:none;">
										<p class="mb-0 fs-5">L'email inserita non puo essere usata poiche' appartiene gia' ad un nostro utente</p>
									</div>
									<button class="mr-2 btn btn-link btn-custom1 pb-1" data-bs-toggle="modal" data-bs-target="#userModal"  >
									  <i class="bi bi-pen"></i>
									</button>
									
									<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModal" aria-hidden="true">
										
										  <div class="modal-dialog modal-dialog-centered">
										    <div class="modal-content ">
										      <div class="modal-header">
										        <h5 class="modal-title" id="userModalLabel">Update User Information</h5>
										        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										      </div>
										      <div class="modal-body">
										        <form th:action="@{/updateUser/{id}(id=${user.id})}" method="post" enctype="multipart/form-data">
										          <div class="my-2">
										            <div class="form-outline mb-2">
										              <input type="email" class="form-control" id="email" name="email" placeholder="La tua email" >
										            </div>
										
										            <div class="form-outline mb-2">
										              <input type="password" class="form-control" id="password" name="password" placeholder="Password" >
										            </div>
										
										            <div class="row">
										              <div class="col-md-6">
										                <div class="form-outline mb-2">
										                  <input type="text" class="form-control" id="name" name="name" placeholder="Il tuo nome" th:value="${user.name}" >
										                </div>
										              </div>
										              <div class="col-md-6">
										                <div class="form-outline mb-2">
										                  <input type="text" class="form-control" id="surname" name="surname" placeholder="Il tuo cognome" th:value="${user.surname}" >
										                </div>
										              </div>
										            </div>
										
										            <div class="form-outline mb-2">
										              <input class="form-control" type="hidden" id="bio" name="bio" placeholder="Breve bio" rows="2"></input>
										            </div>
										
										            <div class="form-outline mb-2">
										              <input type="hidden" class="form-control" id="birthDate" name="birthDate" placeholder="Data di nascita (dd/MM/yyyy)" />
										            </div>
										
										            <div class="form-outline mb-2">
										              <input type="file" class="form-control" id="file" name="file">
										            </div>
				
										
										            <div class="text-center pt-1 pb-1">
										              <button class="btn btn-primary" type="submit">Salva le modifiche</button>
										            </div>
										          </div>
										        </form>
										      </div>
										      	
										    </div>
										  </div>
										</div>

									
									
									
										<form th:action="@{/deleteUser/{id}(id=${user.id})}" method="post" style="display:inline;">
											<button onclick="return confirm('Sei sicuro di voler cancellare il tuo account?');" class="mr-2 btn btn-link btn-custom1 pb-1"><i
													class="bi bi-trash"></i></button>
										</form>
		                        </div>
		                        
		                        <div class="tab-container my-4 mainText2">
		                            <ul class="nav nav-tabs nav-fill" id="userTab" role="tablist">
		                                <li class="nav-item fixed-size-tabs-admin " role="presentation">
		                                    <button class="nav-link active " id="users-controll-tab" data-bs-toggle="tab" data-bs-target="#users-controll" type="button" role="tab" aria-controls="users-controll" aria-selected="true">Controllo Utenti</button>
		                                </li>
		                                <li class="nav-item fixed-size-tabs-admin " role="presentation">
		                                    <button class="nav-link" id="recipes-controll-tab" data-bs-toggle="tab" data-bs-target="#recipes-controll" type="button" role="tab" aria-controls="recipes-controll" aria-selected="false">Controllo Ricette</button>
		                                </li>
		       
		                            </ul>
		                        </div>
		                        
								<div class="tab-content">
									<div class="tab-pane fade show active" id="users-controll" role="tabpanel" aria-labelledby="users-controll-tab">
										<div class="button-section my-3">
											<div class="row justify-content-center align-items-center">
												<div class="col-md-10 col-lg-8">
													<div class="d-flex flex-column align-items-center">
														<a th:href="@{/admin/wipeCooks}" class="nav-link navbar-elements">Cancella tutti gli utenti</a>
														<div th:if="${cooksWipeSuccess != null}" class="alert my-0 py-1 alert-success text-center">
															<p class="mb-0">Database svuotato con successo!</p>
														</div>
														<a th:href="@{/cooks}" class="nav-link navbar-elements">Modifica o cancella utenti</a>
														<a  class="nav-link navbar-elements" data-bs-toggle="modal" data-bs-target="#addNewUserModal">Aggiungi utenti</a>
														<div th:if="${userError != null}" class="alert my-0 py-1 alert-danger text-center">
															<p class="mb-0">L'email inserita non puo' essere usata poich' appartiene gia' ad un nostro
																utente</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="recipes-controll" role="tabpanel" aria-labelledby="recipes-controll-tab">
										<div class="button-section my-3">
											<div class="row justify-content-center align-items-center">
												<div class="col-md-10 col-lg-8">
													<div class="d-flex flex-column align-items-center">
														
														<form th:action="@{/admin/wipeRecipes}" method="post" style="display:inline;">
															<button type="submit" class="nav-link navbar-elements"
																onclick="return confirm('Are you sure you want to delete all recipes?');">
																Cancella tutte le ricette
															</button>
														</form>
														
														<div th:if="${recipesWipeSucces != null}" class="alert my-0 py-1 alert-success text-center">
															<p class="mb-0">Database svuotato con successo!</p>
														</div>
														<a th:href="@{/recipes}" class="nav-link navbar-elements">Modifica o cancella ricette</a>
													    <a class="nav-link navbar-elements" data-bs-toggle="modal" data-bs-target="#addRecipeModal">Aggiungi una ricetta</a>
													
														
													</div>
												</div>
											</div>
										</div>
									</div>

		
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>

		<div class="modal fade" id="addNewUserModal" tabindex="-1" aria-labelledby="addNewUserModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addnewUserModalLabel">Crea un nuovo utente</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/admin/addNewUser}" method="post" enctype="multipart/form-data">
							<div class="my-2">
								<div class="form-outline mb-2">
									<input type="email" th:field="${credentials.email}" class="form-control" id="email"
										name="email" placeholder="Email" required />
								</div>
								<div class="form-outline mb-2">
									<input type="password" th:field="${credentials.password}" class="form-control" id="password"
										name="password" placeholder="Password" required />
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-outline mb-2">
											<input type="text" th:field="${newUser.name}" class="form-control" id="name"
												name="name" placeholder="Nome" required />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-outline mb-2">
											<input type="text" th:field="${newUser.surname}" class="form-control" id="surname"
												name="surname" placeholder="Cognome" required />
										</div>
									</div>
								</div>
								<div class="form-outline mb-2">
									<textarea th:field="${newUser.bio}" class="form-control" id="bio" name="bio"
										placeholder="Breve bio" rows="2"></textarea>
								</div>
								<div class="form-outline mb-2">
									<input type="text" th:field="${newUser.birthDate}" class="form-control" id="birthDate"
										name="birthDate" placeholder="Data di nascita (dd/MM/yyyy)" />
								</div>
								<div class="form-outline mb-2">
									<input type="file" class="form-control" id="file" name="file">
								</div>
								<div class="form-outline mb-2">
									<label for="role" class="form-label">Ruolo</label>
									<select th:field="${credentials.role}" class="form-select" id="role" name="role">
										<option value="COOK">Cook</option>
										<option value="ADMIN">Admin</option>
									</select>
								</div>
								
								<div class="text-center pt-1 pb-1">
									<button class="btn btn-primary" type="submit">Registra utente</button>
								</div>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="addRecipeModal" tabindex="-1" aria-labelledby="addRecipeModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addRecipeModalLabel">Crea una nuova ricetta</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/admin/addRecipe}" method="post" th:object="${recipe}" enctype="multipart/form-data">
							<div class="pt-2 row align-items-center justify-content-center">
								<div class="col-sm-4">
									<div class="form-outline mb-2">
										<input type="text" th:field="*{name}" class="form-control" id="recipeName"
											name="recipeName" required placeholder="Nome" />
									</div>
								</div>
								<div class="col-sm-4">
									<select class="form-control mb-2" th:field="*{category}" id="recipeCategory"
										name="recipeCategory" required>
										<option value="Primi">Primi</option>
										<option value="Secondi">Secondi</option>
										<option value="Dessert">Dessert</option>
									</select>
								</div>
							</div>
		
							<div class="pt-2 row align-items-center justify-content-center">
								<div class="col-sm-8">
									<div class="form-outline mb-2">
										<textarea class="form-control" th:field="*{description}" id="recipeDescription"
											name="recipeDescription" rows="3"></textarea>
									</div>
								</div>
							</div>
		
							<div class="pt-2 row align-items-center justify-content-center">
								<div class="col-sm-8">
									<div class="form-outline mb-2">
										<input type="file" class="form-control" id="file" name="file">
									</div>
								</div>
							</div>
		
							<div class="row align-items-center justify-content-center">
								<div id="ingredientsContainer">
									<div class="row align-items-center justify-content-center mb-2"
										th:each="ingredient, iterStat : *{ingredients}">
										<div class="col-sm-6">
											<div class="form-outline mb-2">
												<input class="form-control"
													th:field="*{ingredients[__${iterStat.index}__].name}"
													placeholder="Nome dell'ingrediente">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-outline mb-2">
												<input class="form-control"
													th:field="*{ingredients[__${iterStat.index}__].quantity}"
													placeholder="Quantità">
											</div>
										</div>
									</div>
								</div>
							</div>
		
							
		
							<div class="form-group row">
								<div class="col-sm-12 text-center">
									<button type="submit" class="btn btn-primary">Crea la ricetta</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		                        
		
	</body>