<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome!</title>
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<link rel="stylesheet" th:href="@{/css/cssBootstrap/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/stile.css}">
	<link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
	<script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script defer src="js/bootstrap.bundle.min.js"></script>


</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-white blank">
		<div class="container-fluid d-flex justify-content-between align-items-center">

			<div class="d-flex " style="margin-right: 10px">
				<a href="#" class="nav-link me-1"><i class="bi bi-facebook"></i></a>
				<a href="#" class="nav-link me-1"><i class="bi bi-twitter"></i></a>
				<a href="#" class="nav-link me-1"><i class="bi bi-instagram"></i></a>
				<a href="#" class="nav-link me-1"><i class="bi bi-youtube"></i></a>
			</div>

			<a class="nav-brand navbar-elements" width="160" height="80" th:href="@{/recipes}">Ricette</a>
			<div class="d-flex align-items-center">
				<ul class="navbar-nav d-flex">
					<li class="nav-item">
						<a class="navbar-brand mr-0" th:href="@{/}" style="margin-right: 0px;">
							<img th:src="@{/images/logo.png}" width="160" height="80" alt="Logo">
						</a>
					</li>
				</ul>
			</div>
			<a class="nav-brand navbar-elements" th:href="@{/cooks}">Cuochi</a>
			<div sec:authorize="isAnonymous()" class="ml-auto">
				<a class="nav-link navbar-elements" href="/login">Login</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a class="nav-link navbar-elements" th:href="@{/myProfile}">Profilo</a>
			</div>
		</div>
	</nav>
	
	<div class="container text-center my-4 blank">
		<div class="row justify-content-md-center">
			<div class="col col-lg-6">
				<h1 class="nav-brand mainText">I NOSTI CUOCHI</h1>
				<hr class="hr-style">
			</div>
		</div>
		<div class="row justify-content-md-center ">
			<div class="col col-lg-6">
                 	<form class="d-flex" th:action="@{/cooks}" method="get" role="search">
                     <input class="form-control me-2" type="search" name="Search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary" type="submit">Cerca</button>
				</form>
			</div>
		</div>
	</div>


<div class="container-xl mx-auto my-2 blank">
    <div class="row mx-5 my-4 row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 justify-content-center">
        <div th:if="${cooks == null}" class="col-12">
            <div class="alert alert-info" role="alert">
				Non ci sono cuochi nel nostro sistema
              </div>
        </div>
        <div th:if="${cooks.isEmpty()}" class="col-12">
            <div class="alert text-center alert-info" role="alert">
                Non ci sono cuochi che soddisfano la ricerca
            </div>
        </div>
        <div th:each="cook : ${cooks}" class="col">
            <div class="card h-100 card-hover">
		 	   <a th:href="@{/cook/{cookId}(cookId=${cook.id})}">	 
                <img th:src="@{${cook.profilePic}}" class="profile-pic-container-card mt-1 pt-4" alt="User Profile Picture">
                </a>
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-between align-items-center mb-3 ">
                        <div class="d-flex justify-content-center align-items-center gap-2">
							<div sec:authorize="isAuthenticated()" th:if="${#authentication.authorities[0].authority != 'ADMIN'}">
                                <a th:href="@{/addTo/{cookId}(cookId=${cook.id})}">
                                    <i class="bi bi-plus-circle"></i>
                                </a>
                            </div>
                            <div sec:authorize="isAnonymous()">
                                <a th:href="@{/register}">
                                    <i class="bi bi-plus-circle"></i>
                                </a>
                            </div>
                           <div th:if="${#authentication.authorities[0].authority == 'ADMIN'}" class="px-2">
                            <button class="mr-2 btn btn-link btn-custom pb-1" data-bs-toggle="modal" data-bs-target="#userModal">
                                <i class="bi bi-pen"></i>
                            </button>
                           </div>
                            <div sec:authorize="isAuthenticated()" th:if="${#authentication.authorities[0].authority == 'ADMIN'}" class="modal" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="userModalLabel">Update User Information</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/updateUser/{id}(id=${cook.id})}" method="post" enctype="multipart/form-data">
                                                <div class="my-2">
                                                    <div class="form-outline mb-2">
                                                        <input type="email" class="form-control" id="email" name="email" placeholder="La tua email">
                                                    </div>
                                                    <div class="form-outline mb-2">
                                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-outline mb-2">
                                                                <input type="text" class="form-control" id="name" name="name" placeholder="Il tuo nome">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-outline mb-2">
                                                                <input type="text" class="form-control" id="surname" name="surname" placeholder="Il tuo cognome">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-outline mb-2">
                                                        <textarea class="form-control" id="bio" name="bio" placeholder="Breve bio" rows="2"></textarea>
                                                    </div>
                                                    <div class="form-outline mb-2">
                                                        <input type="text" class="form-control" id="birthDate" name="birthDate" placeholder="Data di nascita (dd/MM/yyyy)">
                                                    </div>
                                                    <div class="form-outline mb-2">
                                                        <input type="file" class="form-control" id="file" name="file">
                                                    </div>
                                                    <div class="text-center pt-1 pb-1">
                                                        <button class="btn btn-primary" type="submit">Salva le modifiche</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title mainText mb-1 text-center flex-grow-1" th:text="${cook.name} + ' ' + ${cook.surname} " style="user-select: text;">Nome Cuoco</h4>
                            
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <div sec:authorize="isAuthenticated()" th:if="${#authentication.authorities[0].authority != 'ADMIN'}">
                                <a th:href="@{/addToFavorites/{cookId}(cookId=${cook.id})}">
                                    <i class="bi bi-plus-circle"></i>
                                </a>
                            </div>
                            <div th:if="${#authentication.authorities[0].authority == 'ADMIN'}">
                                <a th:href="@{/admin/delete/{cookId}(cookId=${cook.id})}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                            <div sec:authorize="isAnonymous()">
                                <a th:href="@{/register}">
                                    <i class="bi bi-plus-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




		<div class="my-5"></div>
		
		
		
									
									
							




</body>