	<!DOCTYPE html>
	<html lang="it">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome!</title>
		<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
		<link rel="stylesheet" th:href="@{/css/cssBootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/stile.css}">
		<link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
		<script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script defer src="js/bootstrap.bundle.min.js"></script>
	
	
	</head>
	
	<body class="blank">
	
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="container-fluid d-flex justify-content-between align-items-center">
	
				<div class="d-flex " style="margin-right: 10px">
					<a href="#" class="nav-link me-1"><i class="bi bi-facebook"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-twitter"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-instagram"></i></a>
					<a href="#" class="nav-link me-1"><i class="bi bi-youtube"></i></a>
				</div>
	
				<a class="nav-brand navbar-elements" width="160" height="80" th:href="@{/recipes}">Ricette</a>
				<div class="d-flex align-items-center">
					<ul class="navbar-nav d-flex">
						<li class="nav-item">
							<a class="navbar-brand mr-0" th:href="@{/}" style="margin-right: 0px;">
							<img th:src="@{/images/logo.png}" width="160" height="80" alt="Logo">
							</a>
						</li>
					</ul>
				</div>
				<a class="nav-brand navbar-elements" th:href="@{/cooks}">Cuochi</a>
				<div sec:authorize="isAuthenticated()">
					<a class="nav-link navbar-elements" href="/logout">Logout</a>
				</div>
			</div>
		</nav>
		
		
		<section class="h-100 gradient-form ">
		    <div class="container-lg py-4">
		        <div class="row justify-content-center align-items-center">
		            <div class="col-md-10 col-lg-8">
		                <div class="card rounded-3 shadow-lg">
		                    <div class="card-body p-md-4 mx-md-3">
		
		                        <div class="text-center mb-4 mainText">
									<div class="profile-pic-container">
									    <img th:src="${user.profilePic}" class="profile-pic" alt="Profile Picture">
									</div>
		                            <h2 th:text="${user.name} + ' ' + ${user.surname}">Name Surname + followersCount</h2>
		                            <p class="mb-1"  th:text=" 'Followers: ' + ${user.cook.numberOfFollows}"></p>
		                            <p th:text="'&quot;' + ${user.bio} + '&quot;'" class="mb-1">Bio goes here...</p>
		                            <p th:text="${user.birthDate}">Birthdate: dd/mm/yyyy</p>
									<button class="mr-2 btn btn-link btn-custom1 pb-2" data-bs-toggle="modal" data-bs-target="#userModal"  >
									  <i class="bi bi-pen"></i>
									</button>
									
									<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
										
										  <div class="modal-dialog modal-dialog-centered">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h5 class="modal-title" id="userModalLabel">Aggiorna i tuoi dati</h5>
										        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										      </div>
										      <div class="modal-body">
										        <form th:action="@{/updateUser/{id}(id=${user.id})}" method="post" enctype="multipart/form-data">
										          <div class="my-2">
													<div class="form-outline mb-2">
														<input type="email" class="form-control" id="email" name="email" placeholder="La tua email" >
													</div>
													
													
										
										            <div class="form-outline mb-2">
										              <input type="password" class="form-control" id="password" name="password" placeholder="Password" >
										            </div>
										
										            <div class="row">
										              <div class="col-md-6">
										                <div class="form-outline mb-2">
										                  <input type="text" class="form-control" id="name" name="name" placeholder="Il tuo nome"  th:value="${user.name}">
										                </div>
										              </div>
										              <div class="col-md-6">
										                <div class="form-outline mb-2">
										                  <input type="text" class="form-control" id="surname" name="surname" placeholder="Il tuo cognome" th:value="${user.surname}" >
										                </div>
										              </div>
										            </div>
										
										            <div class="form-outline mb-2">
										              <textarea class="form-control" id="bio" name="bio" placeholder="Breve bio" rows="2"  th:value="${user.bio}"></textarea>
										            </div>
										
										            <div class="form-outline mb-2">
										              <input type="text" class="form-control" id="birthDate" name="birthDate" placeholder="Data di nascita (dd/MM/yyyy)"  th:value="${user.birthDate}" />
										            </div>
										
										            <div class="form-outline mb-2">
										              <input type="file" class="form-control" id="file" name="file">
										            </div>
				
										
										            <div class="text-center pt-1 pb-1">
										              <button class="btn btn-primary" type="submit">Salva le modifiche</button>
										            </div>
										          </div>
										        </form>
										      </div>
										      	
										    </div>
										  </div>
										</div>
										

									
									<form th:action="@{/deleteUser/{id}(id=${user.id})}" method="post" style="display:inline;">
										<button onclick="return confirm('Sei sicuro di voler cancellare il tuo account?');" class="mr-2 btn btn-link btn-custom1 pb-2"><i
												class="bi bi-trash"></i></button>
									</form>
									
		                            <div th:if="${param.error != null}" class="alert my-0 py-1 alert-danger text-center">
	                                            <p class="mb-0 fs-5">L'email inserita non puo essere utilizzata poiche gia presente nel nostro sistema</p>
	                                        </div>
									
		                        </div>
		
		                        <div class="tab-container my-4 mainText2">
		                            <ul class="nav nav-tabs nav-fill" id="userTab" role="tablist">
		                                <li class="nav-item fixed-size-tabs " role="presentation">
		                                    <button class="nav-link active " id="personal-recipes-tab" data-bs-toggle="tab" data-bs-target="#personal-recipes" type="button" role="tab" aria-controls="personal-recipes" aria-selected="true">Le tue ricette</button>
		                                </li>
		                                <li class="nav-item fixed-size-tabs " role="presentation">
		                                    <button class="nav-link" id="favorite-recipes-tab" data-bs-toggle="tab" data-bs-target="#favorite-recipes" type="button" role="tab" aria-controls="favorite-recipes" aria-selected="false">Likes</button>
		                                </li>
		                                <li class="nav-item fixed-size-tabs" role="presentation">
		                                    <button class="nav-link" id="liked-cooks-tab" data-bs-toggle="tab" data-bs-target="#liked-cooks" type="button" role="tab" aria-controls="liked-cooks" aria-selected="false">Follows</button>
		                                </li>
		                            </ul>
		                            <div class="tab-content pt-3" id="userTabContent">
		                                <div class="tab-pane fade show active text-center" id="personal-recipes" role="tabpanel" aria-labelledby="personal-recipes-tab justify-items-center">
											<p th:if="${user.cook.personalRecipes.isEmpty()}" class="mainText1 text-center mt-3">Non hai ancora creato nessuna ricetta</p>
											<div class="list-group my-3" th:if="${!user.cook.personalRecipes.isEmpty()}">
		                                        <div class="container-md mx-auto ">
													<div class="row mx-5 my-4 row-cols-1 row-cols-md-5 row-cols-lg-3 g-2 justify-content-center">
														<div th:each="recipe : ${user.cook.personalRecipes}" th:if="${!user.cook.personalRecipes.isEmpty()}" class="col">
															<div class="card h-100 card-hover">
																<a th:href="@{/recipe/{id}(id=${recipe.id})}">
																	<img th:src="${recipe.mainImagePath}" class="card-img-top2" alt="Recipe Image">
																</a>
																<div class="card-body d-flex flex-column justify-content-center align-items-center">
																	<div class="d-flex justify-content-between align-items-center mb-3 w-100">
																		<div class="d-flex justify-content-center align-items-center gap-2">
																			
																		</div>
																		<h4 class="card-title text-center mb-0 mx-3 flex-grow-1" th:text="${recipe.name}">Card title
																		</h4>
																		
																	</div>
																</div>
															</div>
														</div>
													</div>
		                                        </div>
											</div>
		                                    
		                                    <a class="nav-link  text-center navbar-elements" th:href="@{/addRecipe}">Crea</a>

		                                </div>
		                                <div class="tab-pane fade text-center" id="favorite-recipes" role="tabpanel" aria-labelledby="favorite-recipes-tab">
											<div th:if="${user.cook.favoritesRecipes.isEmpty()}" >
											<p class="mainText1 text-center mt-3">Non hai messo mi piace a nessuna ricetta</p>
											<a class="nav-link  text-center navbar-elements" th:href="@{/recipes}">Scoprile</a>
											</div>
											<div class="list-group my-3" th:if="${!user.cook.favoritesRecipes.isEmpty()}">
		                                        <div class="container-md mx-auto ">
													<div class="row mx-5 my-4 row-cols-1 row-cols-md-5 row-cols-lg-3 g-2 justify-content-center">
														<div th:each="likedRecipe : ${user.cook.favoritesRecipes}" th:if="${!user.cook.favoritesRecipes.isEmpty()}" class="col">
															<div class="card h-100 card-hover">
																<a th:href="@{/recipe/{id}(id=${likedRecipe.id})}">
																	<img th:src="${likedRecipe.mainImagePath}" class="card-img-top2" alt="Recipe Image">
																</a>
																<div class="card-body d-flex flex-column justify-content-center align-items-center">
																	<div class="d-flex justify-content-between align-items-center mb-3 w-100">
																		<div class="d-flex justify-content-center align-items-center gap-2">
																			
																		</div>
																		<h4 class="card-title text-center mb-0 mx-3 flex-grow-1" th:text="${likedRecipe.name}">Card title
																		</h4>
																		
																	</div>
																</div>
															</div>
														</div>
													</div>
		                                        </div>
											</div>

		                                </div>
		                                <!-- Liked Cooks -->
		                                <div class="tab-pane fade text-center" id="liked-cooks" role="tabpanel" aria-labelledby="liked-cooks-tab">
											
											<div th:if="${user.cook.likedCooks.isEmpty()}" >
												<p class="text-muted text-center mt-3">Non hai seguito nessuo dei nostri cuochi</p>
												<a class="nav-link  text-center navbar-elements" th:href="@{/cooks}">Scoprili</a>
											</div>
											
											<div class="list-group my-3" th:if="${!user.cook.likedCooks.isEmpty()}">
		                                        <div class="container-md mx-auto ">
													<div class="row mx-5 my-4 row-cols-1 row-cols-md-5 row-cols-lg-3 g-2 justify-content-center">
														<div th:each="followed : ${user.cook.likedCooks}" th:if="${!user.cook.likedCooks.isEmpty()}" class="col">
															<div class="card h-100 card-hover">
																<a th:href="@{/cook/{id}(id=${followed.id})}">
																	<div class="profile-pic-container-cardV2 mt-4">
																	<img th:src="${user.profilePic}" class="profile-pic-cardV2" alt="Recipe Image">
																	</div>
																</a>
																<div class="card-body d-flex flex-column justify-content-center align-items-center">
																	<div class="card-body d-flex flex-column justify-content-center align-items-center">
																		<div class="d-flex justify-content-center align-items-center  mb-3 w-100 ">
																	
																			<h4 class="card-title mainText mb-1 ms-1 me-2 text-center flex-grow-2"
																				th:text="${user.name} + ' ' + ${user.surname} " style="user-select: text;">Nome Cuoco</h4>
																	
																		</div>
																	</div>
															</div>
														</div>
													</div>
		                                        </div>
											</div>
											
											
		                                </div>
		                            </div>
		                        </div>
		
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>

	</body>