<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Welcome!</title>
		<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	    <link rel="stylesheet" th:href="@{/css/cssBootstrap/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/css/stile.css}">
	    <link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
	    <script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script defer src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
	    <div class="container-fluid d-flex justify-content-between align-items-center">
			
	        <div class="d-flex " style="margin-right: 10px" >
	            <a href="#" class="nav-link me-1"><i class="bi bi-facebook"></i></a>
	            <a href="#" class="nav-link me-1"><i class="bi bi-twitter"></i></a>
	            <a href="#" class="nav-link me-1"><i class="bi bi-instagram"></i></a>
	            <a href="#" class="nav-link me-1"><i class="bi bi-youtube"></i></a>
	        </div>
            
			<a class="nav-brand navbar-elements" width="160" height="80" th:href="@{/recipes}">Ricette</a>
	        <div class="d-flex align-items-center">
	            <ul class="navbar-nav d-flex">
	                <li class="nav-item">
	                    <a class="navbar-brand mr-0" th:href="@{/}"	style="margin-right: 0px;">
							<img th:src="@{/images/logo.png}" width="160" height="80" alt="Logo">
	                    </a>
	                </li>
	            </ul>
	        </div>
			<a class="nav-brand navbar-elements" th:href="@{/cooks}">Cuochi</a>	 
	        <div sec:authorize="isAnonymous()" class="ml-auto">
	            <a class="nav-link navbar-elements" href="/login">Login</a>
	        </div>
			<div sec:authorize="isAuthenticated()">
				<a class="nav-link navbar-elements" th:href="@{/myProfile}">Profilo</a>
			</div>
	    </div>
	</nav>

	
	<div class="container-fluid px-0 pt-2 pb-2">
	    <div class="row-lg mx-0 gap-0 d-flex justify-content-between">
	        <div class="px-0 col-lg-3">
	            <img th:src="@{images/back1.1.png}" class="img-fluid mx-0 d-block" style="width: 100%; height: auto;">
	        </div>
	        <div class="col-lg-5 d-flex align-items-center justify-content-center">
	            <div sec:authorize="isAnonymous()" class="text-center">
	                <h1 style="font-weight: 700;">Benvenuto!</h1>
	                <p class="mainText">Esplora il nostro sito e entra a far parte della nostra community</p>
	                <a th:href="@{/register}" class="nav-link navbar-elements mainText">Iscriviti</a>
	            </div>
					<div sec:authorize="isAuthenticated()" class="text-center">
						<h1 style="font-weight: 700;">Benvenuto!</h1>
					    <h1 style="font-weight: 500;">Publica le tue ricette e salva le tue preferite!</h1>
	            </div>
	        </div>
	        <div class="px-0 col-lg-3">
	            <img th:src="@{images/back1.png}" class="img-fluid mx-0 d-block " style="width: 100%; height: auto;">
	        </div>
	    </div>
	</div>
	
	<div class="py-4 slideInLeftScroll1">
		<div class="container-fluid px-0 my-5 ">
			<div class="row-lg mx-0 gap-0 d-flex justify-content-between">
				<div class="px-0 col-lg-3">
					<img th:src="@{images/main-cut.png}" class="img-fluid mx-0 d-block " style="width: 100%; height: auto;">
				</div>
				<div class="col-lg-5 col-margin d-flex align-items-center justify-content-center">
					<div class="text-center " >
						<h2 style="font-weight: 600;" >I Primi</h2>
						<p class="mainText" >Dal comfort food delle lasagne al forno alla raffinatezza di un risotto ai frutti di mare, i primi piatti sono l'anima di un pranzo o una cena ben riusciti.</p>
						<a th:href="@{/recipes/c1}" class="nav-link navbar-elements mainText">Scoprili</a>
					</div>
					</div>
				</div>
			</div>
		</div>
		  
		<div class="py-4 slideInLeftScroll2">
				<div class="container-fluid px-0 my-5 ">
					<div class="row-lgmx-0 gap-0 d-flex justify-content-between">
						<div class="px-0 col-lg-3">
							<img th:src="@{images/secondHalf.png}" class="img-fluid mx-0 d-block " style="width: 100%; height: auto;">
						</div>
						<div class="col-lg-5 col-margin d-flex align-items-center justify-content-center">
							<div class="text-center  ">
								<h2 class="mainText">I Secondi</h2>
								<p class="mainText">I secondi piatti rappresentano il cuore della tradizione culinaria italiana, offrendo una vasta gamma di pietanze che spaziano dalla carne al pesce, dai piatti vegetariani a quelli piu'' innovativi. </p>
								<a th:href="@{/recipes/c2}" class="nav-link navbar-elements 	mainText">Esplorali</a>
							</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="py-4 slideInLeftScroll3">
					<div class="container-fluid px-0 my-5 ">
						<div class="row-lg mx-0 gap-0 d-flex justify-content-between">
							<div class="px-0 col-lg-3">
								<img th:src="@{images/dessert.png}" class="img-fluid mx-0 d-block "
									style="width: 100%; height: auto;">
							</div>
							<div class="col-lg-5 col-margin	 d-flex align-items-center justify-content-center">
								<div class="text-center  ">
									<h2 class="mainText">I dolci</h2>
									<p class="mainText"> La nostra selezione di dolci comprende delizie classiche e creazioni innovative, preparate con
										ingredienti freschi e di alta qualita' per garantire un'esperienza indimenticabile.
									</p>
									<a th:href="@{/recipes/c3}" class="nav-link navbar-elements mainText">Esplorali</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
								
			

</body>
   
</html>