<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome!</title>
	<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<link rel="stylesheet" th:href="@{/css/cssBootstrap/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/stile.css}">
	<link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
	<script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script defer src="js/bootstrap.bundle.min.js"></script>


</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-white blank">
		<div class="container-fluid d-flex justify-content-between align-items-center">

			<div class="d-flex " style="margin-right: 10px">
				<a href="#" class="nav-link me-1"><i class="bi bi-facebook"></i></a>
				<a href="#" class="nav-link me-1"><i class="bi bi-twitter"></i></a>
				<a href="#" class="nav-link me-1"><i class="bi bi-instagram"></i></a>
				<a href="#" class="nav-link me-1"><i class="bi bi-youtube"></i></a>
			</div>

			<a class="nav-brand navbar-elements" width="160" height="80" th:href="@{/recipes}">Ricette</a>
			<div class="d-flex align-items-center">
				<ul class="navbar-nav d-flex">
					<li class="nav-item">
						<a class="navbar-brand mr-0" th:href="@{/}" style="margin-right: 0px;"> 						
						<img th:src="@{/images/logo.png}" width="160" height="80" alt="Logo">
						</a>
					</li>
				</ul>
			</div>
			<a class="nav-brand navbar-elements" th:href="@{/cooks}">Cuochi</a>
			<div sec:authorize="isAnonymous()" class="ml-auto">
				<a class="nav-link navbar-elements" href="/login">Login</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a class="nav-link navbar-elements" th:href="@{/myProfile}">Profilo</a>
			</div>
		</div>
	</nav>
	<div class="container text-center my-4">
		<div class="row justify-content-md-center">
			<div class="col col-lg-6">
				<h1 class="nav-brand mainText">PRIMI</h1>
				<hr class="hr-style">
			</div>
		</div>
		<div class="row justify-content-md-center ">
			<div class="col col-lg-6">
                 	<form class="d-flex" th:action="@{/recipes/Primi}" method="get" role="search">
                     <input class="form-control me-2" type="search" name="Search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary" type="submit">Cerca</button>
				</form>
			</div>
		</div>
	</div>


	<div class="container-xl mx-auto my-2 blank">
    <div class="row mx-5 my-4 row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 justify-content-center">
		  <div th:if="${recipes == null}" class="col-12">
				<div class="alert alert-info" role="alert">
					Non ci sono ricette relative a questa Portata.
			
				</div>
        </div>
         <div th:if="${recipes != null}" >
         <div th:if="${recipes.isEmpty()}" class="col-12">
			<div class="alert alert-info" role="alert">
				Non ci sono ricette relative a questa Portata che soddisfano la ricerca.
			
			</div>
			</div>
         </div>
        <div th:each="recipe : ${recipes}" th:if="${!recipes.isEmpty()}" class="col">
            <div class="card h-100 card-hover">
                <a th:href="@{/recipe/{id}(id=${recipe.id})}">
                    <img th:src="@{${recipe.mainImagePath}}" class="card-img-top" alt="Recipe Image">
                </a>
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-between align-items-center mb-3 w-100">
                        
                        <h4 class="card-title text-center mb-0 mx-3 flex-grow-1" th:text="${recipe.name}">Card title</h4>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="my-5"></div>

</body>

</html>