<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/cssBootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/stile.css}">
    <link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
    <script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="d-flex" style="margin-right: 10px">
                <a href="#" class="nav-link me-1"><i class="bi bi-facebook"></i></a>
                <a href="#" class="nav-link me-1"><i class="bi bi-twitter"></i></a>
                <a href="#" class="nav-link me-1"><i class="bi bi-instagram"></i></a>
                <a href="#" class="nav-link me-1"><i class="bi bi-youtube"></i></a>
            </div>
            <a class="nav-brand navbar-elements" width="160" height="80" th:href="@{/recipes}">Ricette</a>
            <div class="d-flex align-items-center">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <a class="navbar-brand mr-0" th:href="@{/}" style="margin-right: 0px;">
                            <img th:src="@{/images/logo.png}" width="160" height="80" alt="Logo">
                        </a>
                    </li>
                </ul>
            </div>
            <a class="nav-brand navbar-elements" th:href="@{/cooks}">Cuochi</a>
            <div sec:authorize="isAnonymous()" class="ml-auto">
                <a class="nav-link navbar-elements" href="/login">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="nav-link navbar-elements" th:href="@{/myProfile}">Profilo</a>
            </div>
        </div>
    </nav>

    <section class="h-100 gradient-form">
        <div class="container-lg py-4">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10 col-lg-8">
                    <div class="card rounded-3 shadow-lg">
                        <div class="card-body p-md-4 mx-md-3">
                            <div class="text-center mb-4">
                                <div class="profile-pic-container mb-4">
                                    <img th:src="@{${recipe.mainImagePath}}" class="profile-pic " alt="Profile Picture">
                                </div>
                                <div class="pt-3">
									<div class="text flex-grow-1 centered">
										<div class="d-flex justify-content-center align-items-center gap-2">
											<div th:if="${!liked}">
											<div th:if="${#authentication.authorities[0].authority != 'ADMIN' and loggedUser != null }">
												<div th:if="${recipe.cook==null or !liked and loggedUser.id != recipe.cook.user.id}">
													<form th:action="@{/addToFavorites/{recipeId}(recipeId=${recipe.id})}" method="post">
														<button type="submit" class="btn btn-link p-0 m-0 align-baseline">
															<i class="bi bi-heart heart-icon"></i>
														</button>
													</form>
												</div>
											</div>
											</div>
											<div sec:authorize="isAnonymous()">
													<a th:href="@{/login}">
														<i class="bi bi-heart heart-icon"></i>
													</a>
												</div>
											
											
											<h2 th:text="${recipe.name}"></h2>
											
											<div th:if="${!liked}">
																						
												<div th:if="${#authentication.authorities[0].authority != 'ADMIN' and loggedUser != null }">
													<div th:if="${recipe.cook==null or !liked and loggedUser.id != recipe.cook.user.id}">
														<form th:action="@{/addToFavorites/{recipeId}(recipeId=${recipe.id})}" method="post">
																<button type="submit" class="btn btn-link p-0 m-0 align-baseline">
																		<i class="bi bi-heart heart-icon"></i>
																</button>
														</form>
													</div>
												</div>
										     </div>
											
											<div sec:authorize="isAnonymous()">
													<a th:href="@{/login}">
														<i class="bi bi-heart heart-icon"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
                                    <div class="large">
                                        <p th:if="${!#strings.isEmpty(recipe.description)}" th:text="'&quot;' + ${recipe.description} + '&quot;'" class="mb-1"></p>
                                        <h4 th:text="${recipe.category}"></h4>
                                        <h5>Offerta da:</h5>
                                        <h4 th:if="${recipe.cook} == null" class="mb-1">Le nostre ricette </h4>
                                        <h3 th:if="${recipe.cook} != null" class="mb-1">
                                            <a class="nav-link navbar-elements fs-5" th:text="${recipe.cook.user.name} + ' ' +  ${recipe.cook.user.surname}" th:href="@{/cook/{id}(id=${recipe.cook.user.id})}"></a>
                                        </h3>
                                    </div>
                                    <div th:if="${#authentication.authorities[0].authority == 'ADMIN'}">
                                        <a th:href="@{/admin/editRecipe/{id}(id=${recipe.id})}" class="mr-2">
                                            <i class="bi bi-pen fs-5"></i>
                                        </a>
                                        <a th:href="@{/admin/deleteRecipe/{id}(id=${recipe.id})}" class="mr-2">
                                            <i class="bi bi-trash fs-5"></i>
                                        </a>
                                    </div>

                                    <!-- Ingredients Section -->
                                    <div th:if="${!recipe.ingredients.isEmpty()}" class="text-center mt-1">
                                        <h4>Ingredienti</h4>
                                        <ul class="list-unstyled">
                                            <li class="fs-5" th:each="ingredient : ${recipe.ingredients}">
									            <span th:text="${ingredient.name} + ' ' + ${ingredient.quantity}"></span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
